
.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* Background bg */
.background-bg{
    background-image: url('../images/Hero-bg.png');
    padding-bottom: 140px;
}
/* NAV STYLES */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0px 150px;
    padding-top: 50px;
}

/* LOGO STYLES*/
nav .logo{
    color:#4E47FF;
    font-size: 38px;
}
.btn-primary{
    background-color: #4E47FF;
    color: white;
    padding: 12px 36px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 10px;
    border: none;
    transition: all 1s;
}
.btn-primary:hover{
    background-color: #E9C219;
    transform: scale(1.1);
    color: black;
    font-size: 16px;
}

/* BANNER STYLES */
.banner{
    text-align: center
}
.text-title{
    line-height: 12px;
    font-size: 65px;
    font-weight: bold;
}

/* MAIN SECTION */
main{
    margin: 100px 150px;
}
.action{
    display: flex;
    justify-content: space-between;
}

.action h4{
    font-size: 42px;
    font-weight: bold;
    line-height: 4px;
}
.action p{
    font-size: 18px;
    color: 252432;
    line-height: 6px;
    padding-bottom: 10px;
}
.action .right-img img{
    border-radius: 48px;
}

/* TEXT STYLES */
.text-style{
    background-color: #E5E7FF;
    border-radius: 12px;
    text-align: center;
    padding: 10px 30px;
    margin-top: 100px;
}
.text-style h4{
    color: black;
    font-size: 38px;
}
.nbr-text{
    display: flex;
    justify-content: space-around;
}

.box{
    margin: 15px;
}
.nbr-value{
    font-weight: bold;
    font-size: 60px;
    color: #4E47FF;
}
.stat-label{
    margin-top: 5px;
    font-size: 20px;
    color: #757575;
}




.articale-section{
    margin: 130px;
}
.articale-section h2{
    text-align: center;
    font-size: 42px;
    font-weight: bold;
}

/* CONTENT */
.content{
    display: flex;
     gap: 30px;
     justify-content: space-between;
    
   
    
}
.articale-card{
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
    width: 440px;
    padding: 24px;
    border-radius: 12px;
    background-color: #FFFFFF;
}
.girl-pic{
    display: flex;
    gap: 10px; 
    margin-top: 20px;
}
.girl{
    border-radius: 50%;
}
.name{
    color: #757575;
}
.date{
    color: #B3B3B3; 
}


/* content articale style */
.content-articale{
    border-radius: 12px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    justify-items: center;
    padding: 71px 150px;
}
.ready{
    font-size: 50px;
    font-weight: bold;
    line-height: 10px;
}
.para{
    color: #B3B3B3;
}

.wc-pic{
    border-radius: 48px;
    margin-top: 20px;
}

/* FOOTERS STYLES */
.footer-column{
    display: flex;
    padding: 90px 150px;
    justify-content: space-between;
    gap: 100px;
}
.lets{
    font-size: 97px;
    font-weight: bold;
}
.right input[type="email"]{
    width: 497px;
    height: 30px;
    padding: 20px 0px 20px 32px;
    outline: none;
    margin-top: 12px;
    margin-bottom: 12px;
}
.right input[type="name"]{
    width: 497px;
    height: 30px;
    padding: 20px 0px 20px 32px;
    outline: none;
    margin-top: 12px;
    margin-bottom: 12px;
}
.right textarea{
    margin-top: 12px;
    width: 497px;
    height: 60px;
    padding: 20px 0px 20px 32px;
    outline: none;
}
.right .get-in{
    width: 530px;
    margin-top: 20px;
}


/* FOOTER BOTTOM STYLES */
.footer-bottom{
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 104px 450px;
}

.conf{
    font-size: 100px;
    font-weight: bold;
    color: #4E47FF;
    line-height: 10px;
}
.elevate{
    color: #8987A1;
}

.anchor a{
    text-decoration: none;
    color: #8987A1;
    margin-right: 40px;
}